body{
  background: rgb(202, 189, 189);
  padding: 10px
}

div#crypto-holder{
  background: rgb(100, 97, 97);
  width: 70%;
  margin:90 auto 4px auto;
  box-shadow: 10px 1px 0 lightgrey;
}

span.left{
  font-weight: bold;
}

span.right{
  float:right;
}