body{
  background: #FFFFFF;
  padding: 90px
}

div#crypto-holder{
  background: grey;
  width: 70%;
  margin:20 auto 4px auto;
  box-shadow: 1px 1px 0 lightgrey;
}

div.container{
  background: grey;
}

span.left{
  font-weight: bold;
}

span.right{
  float:right;
}